In [354]:
## Importing Libraries

import pandas as pd
import numpy as np
import string

In [355]:
## Reading CSV File and observing top 5 songs
df = pd.read_csv('Top 500 Songs.csv', encoding='unicode_escape')
df.head()

,title,description,appears on,artist,writers,producer,released,streak,position
0,Like a Rolling Stone,"""I wrote it. I didn't fail. It was straight,"" ...",Highway 61 Revisited (Columbia),Bob Dylan,Dylan,Tom Wilson,"July, 1965",12 weeks,No. 2
1,(I Can't Get No) Satisfaction',"""It's the riff heard round the world,"" says St...",Out of Our Heads (ABKCO),The Rolling Stones,"Mick Jagger, Keith Richards",Andrew Loog Oldham,"May, 1965",14 weeks,No. 1
2,Imagine,"John Lennon wrote ""Imagine,"" his greatest musi...",Imagine (Capitol/Apple),John Lennon,John Lennon,"Lennon, Phil Spector, Yoko Ono","October, 1971",9 weeks,No. 3
3,What's Going On,"""What's Going On"" is an exquisite plea for pea...",What's Going On (Tamla),Marvin Gaye,"Gaye, Renaldo Benson, Al Cleveland",Gaye,"Feb, 1971",13 weeks,No. 2
4,Respect,"Otis Redding wrote ""Respect"" and recorded it f...",I Never Loved a Man the Way I Love You (Atlantic),Aretha Franklin,Otis Redding,Jerry Wexler,"April, 1967",12 weeks,No. 1

In [356]:
## Converting a df titles to lowercase
def lowering(content):
        content = content.lower()
        return content

df['title'] = df['title'].apply(lowering)

In [357]:
## Droping useless columns --> But could be used to make system more accurate
df = df.drop(['appears on', 'streak', 'position', 'released'], axis=1)
df.head()

,title,description,artist,writers,producer
0,like a rolling stone,"""I wrote it. I didn't fail. It was straight,"" ...",Bob Dylan,Dylan,Tom Wilson
1,(i can't get no) satisfaction',"""It's the riff heard round the world,"" says St...",The Rolling Stones,"Mick Jagger, Keith Richards",Andrew Loog Oldham
2,imagine,"John Lennon wrote ""Imagine,"" his greatest musi...",John Lennon,John Lennon,"Lennon, Phil Spector, Yoko Ono"
3,what's going on,"""What's Going On"" is an exquisite plea for pea...",Marvin Gaye,"Gaye, Renaldo Benson, Al Cleveland",Gaye
4,respect,"Otis Redding wrote ""Respect"" and recorded it f...",Aretha Franklin,Otis Redding,Jerry Wexler

In [358]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   title        500 non-null    object
 1   description  500 non-null    object
 2   artist       500 non-null    object
 3   writers      500 non-null    object
 4   producer     500 non-null    object
dtypes: object(5)
memory usage: 19.7+ KB

In [359]:
df.describe()

,title,description,artist,writers,producer
count,500,500,500,500,500
unique,446,450,248,335,296
top,crazy,The members of Led Zeppelin first got their so...,The Beatles,"John Lennon, Paul McCartney",George Martin
freq,4,2,23,20,21

In [360]:
## Creating own index
df['index'] = range(1, len(df)+1)

In [361]:
df.head()

,title,description,artist,writers,producer,index
0,like a rolling stone,"""I wrote it. I didn't fail. It was straight,"" ...",Bob Dylan,Dylan,Tom Wilson,1
1,(i can't get no) satisfaction',"""It's the riff heard round the world,"" says St...",The Rolling Stones,"Mick Jagger, Keith Richards",Andrew Loog Oldham,2
2,imagine,"John Lennon wrote ""Imagine,"" his greatest musi...",John Lennon,John Lennon,"Lennon, Phil Spector, Yoko Ono",3
3,what's going on,"""What's Going On"" is an exquisite plea for pea...",Marvin Gaye,"Gaye, Renaldo Benson, Al Cleveland",Gaye,4
4,respect,"Otis Redding wrote ""Respect"" and recorded it f...",Aretha Franklin,Otis Redding,Jerry Wexler,5

In [362]:
df.head()

,title,description,artist,writers,producer,index
0,like a rolling stone,"""I wrote it. I didn't fail. It was straight,"" ...",Bob Dylan,Dylan,Tom Wilson,1
1,(i can't get no) satisfaction',"""It's the riff heard round the world,"" says St...",The Rolling Stones,"Mick Jagger, Keith Richards",Andrew Loog Oldham,2
2,imagine,"John Lennon wrote ""Imagine,"" his greatest musi...",John Lennon,John Lennon,"Lennon, Phil Spector, Yoko Ono",3
3,what's going on,"""What's Going On"" is an exquisite plea for pea...",Marvin Gaye,"Gaye, Renaldo Benson, Al Cleveland",Gaye,4
4,respect,"Otis Redding wrote ""Respect"" and recorded it f...",Aretha Franklin,Otis Redding,Jerry Wexler,5

In [363]:
## Importing function to convert string to number
from sklearn.feature_extraction.text import TfidfVectorizer

In [364]:
## Creating a combined content
combined_feature = df['title'] + ' ' + df['artist'] + ' ' + df ['writers'] + ' ' + df['producer']

In [365]:
TFV = TfidfVectorizer()

In [366]:
## Converting
converted = TFV.fit_transform(combined_feature)

In [367]:
print(converted)

  (0, 1720)	0.3068390571510428
  (0, 1594)	0.3246635844662528
  (0, 460)	0.6136781143020856
  (0, 166)	0.2638487510975057
  (0, 1499)	0.33559675301544556
  (0, 1333)	0.32991970757452244
  (0, 902)	0.3643544488798483
  (1, 1118)	0.30613581493980413
  (1, 915)	0.30613581493980413
  (1, 51)	0.2697403036090119
  (1, 1294)	0.24424744191087083
  (1, 832)	0.2301615374484696
  (1, 774)	0.24424744191087083
  (1, 1021)	0.22432134365346845
  (1, 1500)	0.24845029428592647
  (1, 1563)	0.0938448003380062
  (1, 1374)	0.3425313262705964
  (1, 1098)	0.30613581493980413
  (1, 594)	0.2697403036090119
  (1, 248)	0.321241316947511
  (1, 1333)	0.24424744191087083
  (2, 1124)	0.3472186998519021
  (2, 1748)	0.3472186998519021
  (2, 1462)	0.25648149687823696
  (2, 1186)	0.21495664889024627
  :	:
  (497, 851)	0.31170130230767085
  (497, 891)	0.31170130230767085
  (497, 709)	0.31170130230767085
  (497, 995)	0.31170130230767085
  (497, 1598)	0.6234026046153417
  (497, 452)	0.31170130230767085
  (497, 1225)	0.31170130230767085
  (497, 48)	0.14536208216212684
  (497, 1563)	0.08539816430410642
  (498, 78)	0.28381128132673855
  (498, 66)	0.23601477258393383
  (498, 1751)	0.16899577450163256
  (498, 323)	0.23601477258393383
  (498, 1653)	0.25365504184406473
  (498, 229)	0.25365504184406473
  (498, 317)	0.2439469011184405
  (498, 858)	0.23601477258393383
  (498, 1096)	0.7318407033553215
  (499, 282)	0.3421737441928937
  (499, 88)	0.3209059603574767
  (499, 1457)	0.6116324551684525
  (499, 636)	0.24819092714014188
  (499, 175)	0.5265613198267844
  (499, 1751)	0.2037477743790928
  (499, 48)	0.15957292301587514

In [368]:
## Difflab to get close name matches, and cosine similarity to find the similarity distance

from difflib import get_close_matches
from sklearn.metrics.pairwise import cosine_similarity

In [369]:
# Converting titles to list
title = df['title'].tolist()

In [370]:
## Inputing name and Lowercasing

name = input("Enter the name: ")
name = name.lower().strip()
print(name)

with a little help from my friends

In [371]:
# Getting similarity value
similarScore = cosine_similarity(converted)

In [372]:
## Try-except to get index and value name
try:
    index = df[df['title'] == name]['index'].values[0]
    print(index)
except:
    print("Song doesn't exist in Database.")

340

In [373]:
#Listing and enumarting the score
similarSongs = list(enumerate(similarScore[index]))

In [374]:
## Arranging the scores in descending order
sortScore = sorted(similarSongs, reverse= True, key=lambda x:x[1])

In [375]:
## Printing the song name using index
i = 1


for index, _ in sortScore[1:20]:
    try: 
        print(str(i) + '. ' + str((df[df['index'] == index]['title'].values[0])))
        i +=1
    except:
        print('\n')

1. i fought the law
2. like a rolling stone
3. running on empty
4. beat it
5. no woman, no cry
6. buddy holly
7. smoke on the water
8. get up
9. stairway to heaven
10. love me tender
11. whipping post


12. ignition (remix)
13. blowin' in the wind
14. aint it a shame
15. tired of being alone
16. louie louie
17. louie louie
18. the letter